get-query-parameter/get-query-parameter.json
[
    {
        "id": "532bb87.6014848",
        "type": "http in",
        "z": "b79b4208.d35c68",
        "name": "request",
        "url": "/param",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "f66cb601.47fa18"
            ]
        ]
    },
    {
        "id": "4f30c2dd.5432ec",
        "type": "http response",
        "z": "b79b4208.d35c68",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "f66cb601.47fa18",
        "type": "change",
        "z": "b79b4208.d35c68",
        "name": "set query parameter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "4f30c2dd.5432ec"
            ]
        ]
    }
]