get-query-parameters/get-query-parameters.json
[
    {
        "id": "b79b4208.d35c68",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "532bb87.6014848",
        "type": "http in",
        "z": "b79b4208.d35c68",
        "name": "request",
        "url": "/params",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5f8e0eb1.204fa"
            ]
        ]
    },
    {
        "id": "4f30c2dd.5432ec",
        "type": "http response",
        "z": "b79b4208.d35c68",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "5f8e0eb1.204fa",
        "type": "function",
        "z": "b79b4208.d35c68",
        "name": "get query parameters",
        "func": "msg.payload.name = msg.req.query.name;\nmsg.payload.password = msg.req.query.password;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "4f30c2dd.5432ec"
            ]
        ]
    }
]