get-query-parameters/get-query-parameters.json
[
    {
        "id": "adc8ce45.ac005",
        "type": "http in",
        "z": "4faf54ca.3a4afc",
        "name": "request",
        "url": "/params",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "407c4dca.af8464"
            ]
        ]
    },
    {
        "id": "1a7d8ba5.a91da4",
        "type": "http response",
        "z": "4faf54ca.3a4afc",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "407c4dca.af8464",
        "type": "function",
        "z": "4faf54ca.3a4afc",
        "name": "get query parameters",
        "func": "msg.payload.name = msg.req.query.name;\nmsg.payload.password = msg.req.query.password;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "1a7d8ba5.a91da4"
            ]
        ]
    }
]