insert-data-to-cloudant/insert-data-to-cloudant.json
[
    {
        "id": "e65c9690.2a5e48",
        "type": "cloudant out",
        "z": "4faf54ca.3a4afc",
        "name": "DBに挿入",
        "cloudant": "39fc1d1a.aae2f2",
        "database": "person",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "d00907d9.36f0c8",
        "type": "http in",
        "z": "4faf54ca.3a4afc",
        "name": "",
        "url": "/insert",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "356b9771.cba1b8"
            ]
        ]
    },
    {
        "id": "47f0b616.c94c08",
        "type": "http response",
        "z": "4faf54ca.3a4afc",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "356b9771.cba1b8",
        "type": "function",
        "z": "4faf54ca.3a4afc",
        "name": "get query parameters",
        "func": "msg.payload = {name: msg.req.query.name, age: Number(msg.req.query.age)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "47f0b616.c94c08",
                "e65c9690.2a5e48"
            ]
        ]
    },
    {
        "id": "39fc1d1a.aae2f2",
        "type": "cloudant",
        "z": "",
        "host": "843940a3-ff48-4dd8-825d-c9af03bee780-bluemix.cloudant.com",
        "name": ""
    }
]