get-array-value-template/get-array-value-template.json
[
    {
        "id": "15f5d896.1ab247",
        "type": "http in",
        "z": "4faf54ca.3a4afc",
        "name": "",
        "url": "/array",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "319486e7.1a49ca"
            ]
        ]
    },
    {
        "id": "d35fc97.1dade38",
        "type": "http response",
        "z": "4faf54ca.3a4afc",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "319486e7.1a49ca",
        "type": "template",
        "z": "4faf54ca.3a4afc",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n<body>\n<p>{{payload.category_name}}</p>\n<p>{{payload.tones.0.tone_name}}</p>\n<p>{{payload.tones.0.score}}</p>\n<p>{{payload.tones.1.tone_name}}</p>\n<p>{{payload.tones.1.score}}</p>\n<p>{{payload.tones.2.tone_name}}</p>\n<p>{{payload.tones.2.score}}</p>\n</body>\n</html>",
        "output": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d35fc97.1dade38"
            ]
        ]
    }
]